
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
	flex-direction: column;
}

.navbar-item {
  margin: 0 1rem;
}

.navbar-item a {
  color: #333;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .navbar-item {
    margin: 0.5rem 0;
  }
}